body {
    width: 100vw;
    font-family: Poppins;
    background-color: #F6F6F6;
}

.con01 {
    display: flex;
}

.img_back {
    margin-left: 20px;
    height: 2.2vh;
    margin-top: 23px;
}

#title-cart {
    margin-top: 13px;
    margin-left: 20px;
    font-size: x-large;
}

.con1 {
    display: flex;
}

#list {
    margin-left: 30px;
    margin-top: 20px;
}

.show {
    /* margin-left: 30%; */
    /* margin-top: 20px; */
}

.con2 {

    background-color: white;
    margin-top: 20px;
    width: 85%;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
}

.con2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.con03 {
    display: flex;
    background-color: #F4F4F4;
    width: 28%;
    border-radius: 100px;
    margin-left: 70%;
    margin-top: 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 7.5rem;
    margin-bottom: 1.3rem;
    justify-content: center;
}

.minus,
.plus {
    width: 2rem;
    height: 2rem;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 3px 1px;
    margin: 0.3rem;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.ordernowbtn {
    position: relative;
    right: 0.1rem;
    top: 0.1rem;
    background-color: #21940f;
    color: #fff;
    border-radius: 5px;
    width: 7rem;
}

.removebtn {
    position: relative;
    right: 0.1rem;

    top: 1.4rem;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    width: 7rem;
}

input {
    height: 2.5rem;
    width: 30%;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.img_food {
    width: 7rem;
    height: 7rem;

}

span {
    cursor: pointer;
}

.combobox {
    position: relative;
    top: 1rem;


}

.con7 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.con4 {
    display: flex;
    margin-left: 10px;
}

.con5 {
    display: flex;
    margin-left: 10px;
}


#price {
    color: #2CAF29;
}

#mrp {
    text-decoration: line-through;
    color: #969696;
    font-size: smaller;
    margin-top: 2px;
    margin-left: 5px;
}

#items {
    font-size: small;
    color: #969696;
    margin-left: 10px;
}

.con6 {
    display: flex;
}

.rating {
    display: flex;
}

.time {
    display: flex;
}

#number {
    font-size: smaller;
}

#mins {
    font-size: smaller;
}

.star {
    height: 1.6vh;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 4px;
}

.clock {
    height: 1.6vh;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 4px;
}

.time {
    margin-left: 40%;
    margin-top: 10px;
}

.img-minus {
    height: 3.5vh;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

.img_plus {
    margin-left: 10px;
}

#number {
    margin-top: 10px;
}

.checkout-button {
    color: white;
    background-color: black;
    width: 85%;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}
 
.car-block {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.car-image img {
    width: 40vw;

}

.removebtncab {
    position: relative;

    background-color: red;
    color: #fff;
    border-radius: 5px;
    width: 7rem;
    margin-top: 1rem;

}

.car-details {
    margin-left: 0;
    width: 95vw;

    display: flex;
    flex-direction: row
}

.cab_price {
    text-align: center;
    margin-left: 0;
    padding: 0
}

.car-sub-name {
    width: 30vw;
    padding-right: 5px;
    font-size: small;
}

.car-name {
    width: 30vw;
    font-size: large;
}

.car-fare {
    width: 35vw;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    color: #2CAF29;
}

.car-details .car-name {
    font-weight: bold;
}

.carnamecontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.start_end_location {
    text-align: center;
    margin-top: 1rem;
}

.date_and_time {
    display: flex;
    align-items: baseline;
    padding: 0.1rem
}

.date_and_time div {
    width: 100%;

}

/*login*/
::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

body {
    width: 100vw;
    font-family: Poppins;
}

#gap {
    height: 5vh;
}

#gap-s {
    height: 3vh;
}

#header {
    width: 100vw;
    height: 9vh;
}


#submit_otp {
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: large;
    background: #fecb10;
    float: right;
    line-height: 6vh;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#submit_number {
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: large;
    background: #fecb10;
    float: right;
    line-height: 6vh;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#submit_profile {
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: large;
    background: #fecb10;
    float: right;
    line-height: 6vh;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#confirmation_layout ul {
    margin-left: 25px;
    margin-right: 35px;
}

#select_car_model ul {
    margin-left: 25px;
    margin-right: 35px;
}

#confirmation_layout ul li .liheader img {
    max-width: 9vw;
    height: auto;
    margin-right: 10px;
    margin-left: -10px;
}

#confirmation_layout ul li .liheader {
    font-size: large;
    line-height: 1.2;
}

#go_to_account_page {
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: large;
    background: #fecb10;
    line-height: 6vh;
    padding-right: 30px;
    padding-left: 25px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 25px;
    margin-left: 25px;
}



#mobile_number_input_layout {
    margin-left: 25px;
    width: 90vw;
}

#account_details_layout {
    margin-left: 25px;
    width: 90vw;
}

#time_selection_list_layout {
    margin-left: 25px;
    width: 90vw;
}

#connect_driver_account_layout {
    margin-left: 25px;
    width: 90vw;
}

#car_details_layout {
    margin-left: 25px;
    width: 90vw;
}


#account_details_layout .input-group {
    height: 7vh;
    font-size: large;
    line-height: 7vh;
    color: black;
}

#account_details_layout input {
    height: 7vh;
    font-size: large;
    line-height: 7vh;
    color: black;
}

#country_code {
    height: 7vh;
    font-size: larger;
    line-height: 7vh;
    color: black;
}

#mobile_number {
    height: 7vh;
    font-size: larger;
    line-height: 7vh;
    color: black;
}

#content_holder #new_account_layout #header_label {
    padding-left: 25px;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    line-height: 1.2;
}

#content_holder #confirmation_layout #header_label {
    padding-left: 25px;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    line-height: 1.2;
}

#content_holder #new_account_layout #header_label p {
    margin-bottom: 0px !important;
}

#account_type_layout {
    margin-right: 25px;
    margin-left: 25px;
}

#account_type_layout ul li {
    font-size: larger;
}

#station_selection ul li {
    font-size: larger;
    margin-left: 25px;
    margin-right: 10vw;
}

#new_account_sub_label {
    font-size: large;
    color: black;
    padding-right: 10px;
}

#content_holder #otp_number_layout #header_label {
    padding-left: 25px;
    font-size: x-large;
    font-weight: bold;
    color: black;
    line-height: 1.2;
}

#otp_input_layout {
    margin-left: 25px;
    width: 90vw;
}

#otp_label {
    height: 7vh;
    font-size: larger;
    line-height: 7vh;
    color: black;
}

#otp {
    height: 7vh;
    font-size: larger;
    line-height: 7vh;
    color: black;
}
.register_variable {
    display: none;
}